html {
  min-height: 100vh;
}

* {
  scroll-margin-top: calc(59px + 10px);
}

.breadcrumbs {
  background-color: $tertiary;
  box-shadow: rgb(0 0 0 / 10%) 0 0 0.2rem, rgb(0 0 0 / 20%) 0 0.2rem 0.4rem;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  padding: 0.25rem 0;
}

.main-wrapper {
  margin: 1.5rem 0 0;
}

.main section h1 {
  border-bottom: 1px solid $tertiary;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 2px;
}

.footer {
  background: url('images/ispyb_gs_medium.png') center center no-repeat;
  background-position: 50% 85%;
  color: $tertiary;
  font-size: 12px;
  height: 180px;
  padding: 1.5rem 0;
}

.main-header {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}

.navbar-brand {
  background: url('images/ispyb_gs_medium.png') no-repeat;
  background-size: contain;
  padding-left: 70px;
}

.event {
  h3 {
    border-bottom: 1px solid $tertiary;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: normal;
    word-break: break-all;
  }
}

.lazy-image {
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

.lazy-image-loaded {
  opacity: 1;
}
