// // https://coolors.co/220c10-506c64-77cbb9-75b8c8-cdd3d5
// $one: #220c10;
// $two: #506c64;
// $three: #77cbb9;
// $four: #75b8c8;
// $five: #cdd3d5;

// https://coolors.co/d4e4bc-96acb7-36558f-40376e-48233c
$secondary: #d4e4bc;
$tertiary: #96acb7;
$primary: #36558f;
$four: #40376e;
$five: #48233c;

// // https://coolors.co/437c90-255957-eeebd3-a98743-f7c548
// $primary: #437c90;
// $tertiary: #255957;
// $secondary: #eeebd3;
// $four: #a98743;
// $five: #f7c548;


// $primary: #65459b;
// $secondary: #ebebeb;
